@font-face {
  font-family: 'iconfont';
  src: url('../resources/iconfont/iconfont.eot'); /* IE9*/
  src: url('../resources/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../resources/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../resources/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../resources/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont"!important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  overflow: auto;
}

.emoji-search {
  width: 100%;
  height: 48px;
  padding: 6px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}

.emoji-search input {
  width: 100%;
  height: 38px;
  padding: 3px 20px 3px 46px;
  font-size: 14px;
  outline: none;
  margin: 0 auto;
  border: none;
  border-radius: 2px;
}

.emoji-search .search {
  width: 24px;
  position: absolute;
  top: 12px;
  left: 20px;
  color: #7F8C97;
}

.emoji-search i {
  position: absolute;
  top: 14px;
  right: 20px;
  color: #7F8C97;
}

.emoji-copy-status {
  display: none;
  padding: 10px 16px;
  display: none;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 6px;
  font-size: 14px; 
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 40px;
  margin: auto;
  z-index: 100;
}

.emoji-tab {
  width: 100%;
  position: fixed;
  top: 46px;
  left: 0;
  z-index: 100;
  background-color: #F6F6F6;
}

.emoji-tab li {
  width: 16.67%;
  text-align: center;
  display: inline-block;
  padding: 12px 0;
  font-size: 15px;
  height: 46px;
  margin-right: -4px;
  list-style: none;
  overflow: hidden;
  color: #7F8C97;
}

.emoji-tab li i {
  display: block;
}

#emoji-view {
  width: 100%;
  height: auto;
  margin-top: 96px;
  padding-right: 1px;
  overflow: auto!important;
  background-color: rgba(255,255,255,0.8);
}

.tab-selected {
  color: #0381E8!important;
}

.emoji-group {
  display: none;
  width: 100%;
  height: auto;
  overflow: auto!important;
  padding-bottom: 10px;
}

.emoji-group:nth-child(1) {
  display: block;
}

.emoji-group img {
  margin-left: 14px;
  margin-top: 14px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.emoji-group img:hover {
  transform: scale(1.5);
}
